.chart-status-picture span {
  display: none;
}

.loading:after {
  color: #6280D5;
  content: "loading..";
}

.delayed-feed:after {
  color: orange;
  content: "delayed feed";
}

.realtime-feed:after {
  color: green;
  content: "realtime feed";
}

.no-connection:after {
  color: red;
  content: "no connection";
}

.no-internet:after {
  color: red;
  content: 'refresh page(no internet)';
}
